body {
  width: 95%;
  margin: 15px auto;
  font-family: Arial, Helvetica, sans-serif;
  background: url("../images/bearkatpart2.png") right top repeat-y fixed;
  border: 1px solid #003399;
  border-radius: 10px;
  background-color: #ffffff;
}

#nav_menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #003399; /* solid background behind all nav links */
  border-bottom: 2px solid #003399;
}

#nav_menu li {
  float: left;
}

#nav_menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 40px;
  text-decoration: none;
  font-weight: bold;
}

#nav_menu li a:hover {
  background-color: #0000cc; /* slightly lighter blue on hover */
}

#nav_menu li a.current {
  background-color: #ffcc00; /* highlight for current page */
  color: #003399;
}

article {
  width: 100%;
  padding: 1rem 23% 2.5rem 1.5rem; 
  box-sizing: border-box;
  column-count: 3;                  
  column-gap: 2.5rem;
  column-rule: 3px dotted #003399;
  background-color: transparent;
  min-height: 600px;
}

article h1 {
  color: #003399;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid #003399;
  column-span: all; 
}
article h2 {
  color: #003399;
  margin-top: 1rem;
}

article p::first-letter {
  font-size: 1.8rem;
  font-weight: bold;
  font-style: italic;
}

.intro-img,
article img {
  float: left;
  margin: 0 1rem 1rem 0;
  height: 100px;
}

aside {
  position: fixed;
  top: 90px;
  right: 2.5%;
  width: 18%;                      
  background-color: rgba(196, 219, 240, 0.95);
  border: 2px solid #003399;
  padding: 0.75rem 1rem 1rem 1rem;
  box-sizing: border-box;
}

aside > ol {
  list-style-type: upper-roman;
  margin-left: 1.25rem;
}
aside ol li { margin-bottom: 0.4rem; }
aside ol li ul {
  list-style-type: square;
  margin-left: 1rem;
}
aside a {
  color: #002062;
  text-decoration: none;
}
aside a:hover { text-decoration: underline; }

footer {
  clear: both;
  text-align: center;
  padding: 1rem 0;
  border-top: 2px solid #003399;
  margin-top: 2rem;
  background-color: #fff;
}
footer a {
  color: #003399;
  text-decoration: none;
}
footer a:hover { text-decoration: underline; }

@media (max-width: 1000px) {
  article {
    column-count: 1;
    padding: 1rem;
  }
  aside {
    position: static;
    width: 96%;
    margin: 1rem auto;
  }
}
