html{
    background-image: linear-gradient(to left,white 0%, orange 100%);
}
header {
    clear: both;
    border-bottom:  2px solid red;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 90%;
    background-color: whitesmoke;
    margin: 15px auto;
    padding: 15px 1.5em;
    border: 1px solid black;
    border-radius: 25px;
    box-shadow: 5px 5px 0 0;
    background-image: url("../images/bearkatpart2.png");
    background-position: right;
    background-repeat: repeat-y;
    background-attachment: fixed;
}
a:focus, a:hover {
    font-style: italic;
    color: purple;
    border: 3px blue;
    border-style: dotted solid;
}
h1 {
    font-size: 175%;
    color: maroon;
    text-indent: 30px;
}
h2 {
    font-size: 130;
    color: #00000123;
    text-indent: 30px;
}
img {
    float: left;
    margin-left: 2em;
}
.shadow{
    text-shadow: 2px 2px 2px rgb(128, 5, 69);
}
article{
    clear: left;
    width: 70%;
    float: left;
    column-count: 2;
    column-rule: 2px dotted maroon;
    column-gap: 2em;
    margin-left: 2em;
}
article h3 {
    column-span: all;
}
article img { 
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
}
article p::first-letter {
    font-size: 3em;
    font-weight:  bold;
    font-style: italic;
    color: maroon;
}
aside {
    width: 20%;
    float: right;
    background-color: aquamarine;
    padding-left: 1em;
    padding-bottom: 1em;
}
footer { 
    clear: both;
    border-top:  2px solid red;
}
footer p.copyright {
    text-align: center;
    font-size: 80%;
}
p.fixed {
    width: auto;
    position: fixed;
    bottom: 390px;
    right: 45px;
    background-color: aquamarine;
    padding: 2em;

}