html, body {
margin: 1em;
height: 100%;
font-size: 100%;
}
* {
font-family: Verdana, Arial, Helvetica, sans-serif;
}

table.first {
    border-collapse: separate;
    border: 2px solid black;    
}
table.first th, table.first td {
    border: 2px solid blue;
}
table.first tr:nth-child(odd) {
    background-color: lightblue;
}

table.second {    
    border-collapse: collapse; 
    border: 2px solid purple;   
    caption-side: bottom;
}
table.second th {
    background-color: salmon;
}
table.second th, table.second td {
    padding: 0.7em;  
    vertical-align: middle;
    border: 2px solid purple;
}
table.second thead tr:first-child{     
    border-bottom: 2px solid purple;
}
table.third {
    border-collapse: collapse;
    caption-side: bottom;
}

/* all cells in table 3 */
table.third th,
table.third td {
    padding: 0.7em;
    vertical-align: top;   /* makes 1., 2., 3. stick to the top */
}

/* first header row: green bar with table title and top border */
table.third thead tr:first-child {
    background-color: #7CFC89;      /* light green */
    font-weight: bold;
    text-align: center;
    border-top: 2px solid orangered;
}

/* second header row: same green + line between the 2 header rows
   and a line between header and body */
table.third thead tr:last-child {
    background-color: #7CFC89;
    font-weight: bold;
    border-top: 2px solid orangered;    /* line under first header row */
    border-bottom: 2px solid orangered; /* line under Category/Job/Salary */
}

/* bottom orange line under Web Developer */
table.third tbody tr:last-child {
    border-bottom: 2px solid orangered;
}

/* ----------- media query from assignment (unchanged) ----------- */

@media only screen and (max-width: 425px) {
    th,
    td {
        display: block;
    }

    thead,
    td.number {
        display: none;
        padding: 0;
    }
}