html, body {
margin: 1em;
height: 100%;
font-size: 100%;
}
* {
font-family: Verdana, Arial, Helvetica, sans-serif;
}
/*-----------------------------------------------------------*/
table.first {
    border-collapse: separate;
    border: 2px solid black;    
}
table.first th, table.first td {
    border: 2px solid blue;
}
table.first tr:nth-child(odd) {
    background-color: lightblue;
}
/*-----------------------------------------------------------*/
table.second {    
    border-collapse: collapse; 
    border: 2px solid purple;   
    caption-side: bottom;
}
table.second th {
    background-color: salmon;
}
table.second th, table.second td {
    padding: 0.7em;  
    vertical-align: middle;
    border: 2px solid purple;
}
table.second thead tr:first-child{     
    border-bottom: 2px solid purple;
}
table.third {
    border-collapse: collapse;
    border: 2px solid orangered;
    caption-side: bottom;
}

table.third th {
    background-color: pink;
}

table.third th,
table.third td {
    padding: 0.7em;
    vertical-align: top;          /* numbers stick to the top of the group */
    border: 2px solid orangered;
}

/* top border for header row */
table.third thead tr:first-child {
    border-top: 2px solid orangered;
}

/* middle border between category 2 and 3 groups */
table.third tbody tr:nth-child(5) {
    border-top: 2px solid orangered;
}

/* bottom border for the last row */
table.third tbody tr:last-child {
    border-bottom: 2px solid orangered;
}

/* ---------------------------------------------------------- */
/* MEDIA QUERY FOR SMALL SCREENS */

@media only screen and (max-width: 425px) {
    th,
    td {
        display: block;
    }

    thead,
    td.number {
        display: none;
        padding: 0;
    }
}